body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-size: 14px;
	background: url("../gfx/bg-wsa-2013-01.jpg") no-repeat center 0;
}
#terror {
	width: 828px;
	margin: 0 auto;
}

#year {
    color: white;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 0.5em;
    margin-left: 677px;
    position: absolute;
    top: 225px;
    transform: rotate(-2deg);
    display: none;
}
#demo {
	position: absolute;
	/*background: url(../gfx/demo.jpg);*/
	top: 420px;
	width: 225px;
	padding-left: 0px;
	height: 500px;
	padding-top: 200px;
	color: #fff;
}
#demo a {
	text-decoration: none;
	border-bottom: 1px dotted #fff;
	font-size: 110%;
	color: #fff;
	text-shadow: 0.15em 0.15em #333;
}
#demo a:hover {
	text-decoration: none;
}
#demo ul {
	margin: 0;
	padding: 0;
 	width: 180px;
}
#demo li {
	list-style-type: none;
}
#demo li.city {
	font-weight: bold;
}
#demo li.spacer {
	margin-top: 10px;
}
#header {
	height: 330px;
	/*background: url(../gfx/header-2.gif) no-repeat;*/
}
#content {
	min-height: 400px;
	width: auto;
	/*background: url(../gfx/content.jpg) repeat-y;*/
	padding-left: 220px;
	padding-right: 20px;
	padding-top: 33px;
}
#content h1,
#content h2,
#content h3 {
	font-size: 21px;
	font-weight: bold;
	color: #ba0000;
	padding: 0;
	margin: 0;
	display: block;
	border-bottom: 2px dotted #ba0000;
}
#content div.line {
	display: none;
	width: 100%;
	height: 1px;
	padding: 0;
	margin: 0;
	background: url(../gfx/line.gif);
}
#footer {
	position: relative;
	height: 43px;
	/*background: url(../gfx/footer-1.gif) no-repeat;*/
	text-align: right;
	padding-right: 20px;
	padding-top: 20px;
}
#footer a {
	color: #ba0000;
	text-decoration: none;
	border-bottom: 1px dotted #ba0000;
	padding-left: 5px;
}
#footer a:hover {
	text-decoration: none;
}
#terrorneindanke {
	display: none;
	position: absolute;
	width: 150px;
	height: 147px;
	top: 0px;
	left: 180px;
}
span.bold {
	font-weight: 800;
}

ul.media,
ul.gallery {
	margin: 0;
	padding: 0;
	position: relative;
}

ul.media li {
	width: 265px;
	height: 193px;
	overflow: hidden;
	display: inline-block;
}
ul.media li.first {
	margin-right: 15px;
}
ul.media li.second {
	position: relative;
}

ul.media li,
ul.gallery li {
	list-style-type: none;
	cursor: pointer;
}

ul.gallery li {
	display: inline;
}

ul.media div.next {
	background: url("../gfx/gallery_next.png") repeat scroll 0 0 transparent;
	display: none;
	height: 65px;
	top: 76px;
	position: absolute;
	width: 60px;
	left: 205px;
	z-index: 99;
}

ul.media div.prev {
	background: url("../gfx/gallery_prev.png") repeat scroll 0 0 transparent;
	display: none;
	height: 65px;
	top: 76px;
	position: absolute;
	width: 60px;
	left: 0;
	z-index: 99;
}

ul.media div.play {
	background: url("../gfx/gallery_play.png") repeat scroll 0 0 transparent;
	display: none;
	height: 65px;
	top: 76px;
	position: absolute;
	width: 60px;
	left: 107px;
	z-index: 99;
}

h4 {
	display: inline-block;
}

/* Mobiles & kleine Displays */
@media screen and (max-width: 1200px) {
	@viewport { width: device-width; zoom:1;
	}
	html {
	margin: 0 0 0 70px;
	min-width: 1000px;
	}
}
